In [36]:
#set

x_set = {111, 222, 333, 444, 555}
y_list_1 = [111, 333, 555, 777]
y_set = set(y_list_1)

print(f'x_set is {type(x_set)}')
print(f'y_list_1 is {type(y_list_1)}')
print(f'y_set is {type(y_set)}')

x_set is <class 'set'>
y_list_1 is <class 'list'>
y_set is <class 'set'>

In [37]:
or_1 = x_set | y_set
or_2 = x_set.union(y_set)
print("#OR")
print(f'x_set | y_set is {or_1}')
print(f'x_set.union(y_set) is {or_2}')

and_1 = x_set & y_set
and_2 = x_set.intersection(and_1)
print("#AND")
print(f'x_set & y_set is {and_1}')
print(f'x_set.intersection(AND_1) is {and_2}')

diff_1 = x_set - y_set
diff_2 = x_set.difference(y_set)
print("#DIFF")
print(f'x_set - y_set is {diff_1}')
print(f'x_set.difference(y_set) is {diff_2}')

sym_1 = x_set ^ y_set
sym_2 = x_set.symmetric_difference(y_set)
print("#Synmetric DIFF")
print(f'x_set ^ y_set is {sym_1}')
print(f'x_set.symmetric_difference is {sym_2}')

#OR
x_set | y_set is {777, 555, 333, 111, 444, 222}
x_set.union(y_set) is {777, 555, 333, 111, 444, 222}
#AND
x_set & y_set is {555, 333, 111}
x_set.intersection(AND_1) is {555, 333, 111}
#DIFF
x_set - y_set is {444, 222}
x_set.difference(y_set) is {444, 222}
#Synmetric DIFF
x_set ^ y_set is {777, 444, 222}
x_set.symmetric_difference is {777, 444, 222}

In [38]:
#tuple

x_tuple = (1, 3, 5)
y_list_2 = [3, 4, 5]
y_tuple = tuple(y_list_2)

print(f'x_tuple is {type(x_set)}')
print(f'y_list_2 is {type(y_list_2)}')
print(f'y_tuple is {type(y_set)}')

x_tuple is <class 'set'>
y_list_2 is <class 'list'>
y_tuple is <class 'set'>

In [41]:
display(x_tuple[0])
display(x_tuple[:2])
display(x_tuple[1:])

1

(1, 3)

(3, 5)

In [42]:
display(x_tuple.append(4))

AttributeError: ignored

In [44]:
xy_tuple = x_tuple + y_tuple
display(xy_tuple)

(1, 3, 5, 3, 4, 5)

In [46]:
def test_func():
  x = 2 * 2
  y = 3 * 3
  return x, y

res1, res2 = test_func()
display(res1, res2)

res3 = test_func()
display(res3)

4

9

(4, 9)

In [57]:
#list

a_list = []
a_list = [1, 3, 5, 7, 9]
print(f'a_list[] is {type(a_list)}')

a_list[] is <class 'list'>

In [58]:
a_list.append(11)
display(a_list)
a_list.insert(3, 6)
display(a_list)
a_list.remove(6)
display(a_list)
a_list.extend([13, 15])
display(a_list)
a_list = a_list + [17, 19, 21]
display(a_list)

[1, 3, 5, 7, 9, 11]

[1, 3, 5, 6, 7, 9, 11]

[1, 3, 5, 7, 9, 11]

[1, 3, 5, 7, 9, 11, 13, 15]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21]

In [59]:
a_list.reverse()
display(a_list)
a_list.sort()
display(a_list)

[21, 19, 17, 15, 13, 11, 9, 7, 5, 3, 1]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21]

In [60]:
b_list = [1, 7, 3, 5]
c_list = b_list
c_list.sort()

display(b_list)
display(c_list)

[1, 3, 5, 7]

[1, 3, 5, 7]