In [3]:
def apple():
  print("This is an apple.")

def double(func):
  func()
  func()

double(apple)
'''
This is an apple.
This is an apple.
'''

This is an apple.
This is an apple.

'\nThis is an apple.\nThis is an apple.\n'

In [6]:
#x = map(適用したい関数, 繰り返しオブジェクト)

x = [1, 5, 9, 18, 27]

def dbl(num):
  return num * 2

r = list(map(dbl, x))
r

#[2, 10, 18, 36, 54]

[2, 10, 18, 36, 54]

In [8]:
r2 = list(map(lambda n: n * 2, x))
r2
#[2, 10, 18, 36, 54]

[2, 10, 18, 36, 54]

In [10]:
x = [0.1, -11, 198, -2000]

r3 = list(map(abs, x))
r3
#[0.1, 11, 198, 2000]

[0.1, 11, 198, 2000]

In [12]:
x = [1, 9, -12, 17, 27]

def is_multiple_3(num):
  return num % 3 == 0

r4 = list(filter(is_multiple_3, x))
r4
#[9, -12, 27]

[9, -12, 27]

In [15]:
r5 = list(filter(lambda n: n %3 == 0, x))
r5
#[9, -12, 27]

[9, -12, 27]

In [18]:
x = [2, 53, 21, 98, 1012]

map_object = list(map(lambda n: n+1, x))
filter_object = list(filter(lambda n: n %3 ==0, map_object))

filter_object
#[3, 54, 99]

[3, 54, 99]

In [20]:
from functools import reduce

x = [1, 3, 5, 7, 9]

def multiple(a, b):
  return a * b

r6 = reduce(multiple, x)
r6
#945

945

In [22]:
from functools import reduce

x = [1, 3, 5, 7, 9]

r7= reduce(lambda n, m: n*m, x)
r7
#945

945