In [3]:
x = []
for i in range(10):
  x.append(i)

x
#[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
#[式 for 変数 in 繰り返しオブジェクト]
 [i for i in range(10)]
##[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
[y**2 for y in range(10)]
#[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [22]:
names = ['Sato', 'Suzuki', 'Tanaka']
['Mr. '+z for z in names]
#['Mr. Sato', 'Mr. Suzuki', 'Mr. Tanaka']

['Mr. Sato', 'Mr. Suzuki', 'Mr. Tanaka']

In [27]:
#[式 for 変数 in 繰り返しオブジェクト if 条件式]
#Trueの時だけ新リストの要素となる。
[i for i in range(10) if i%2 == 0]
#[0, 2, 4, 6, 8]

[0, 2, 4, 6, 8]

In [39]:
[a for a in names if "a" in a]
#['Sato', 'Tanaka']

['Sato', 'Tanaka']

In [42]:
#三項演算子：条件の結果によって返す値を変えられる演算子
#True時の値 if 条件式 else Flase時の値 for 変数 in 繰り返しオブジェクト
["even" if q%2 == 0 else q for q in range(10)]
#['even', 1, 'even', 3, 'even', 5, 'even', 7, 'even', 9]

['even', 1, 'even', 3, 'even', 5, 'even', 7, 'even', 9]

In [45]:
kanto = ['東京', '神奈川', '埼玉', '千葉']
[p+'都' if p == '東京' else p+'県' for p in kanto]
#['東京都', '神奈川県', '埼玉県', '千葉県']

['東京都', '神奈川県', '埼玉県', '千葉県']